@value colors: "../colors.module.css";
@value primaryMain, grey0, grey300, grey500, grey900 from colors;

.button {
  border: 0;
  padding: 12px 24px;
  height: 40px;
  background-color: grey900;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: grey0;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

/* .button-contained:hover {
  background-color: primaryMain;
  color: grey900;
} */

.button-contained:disabled {
  background-color: grey300;
  color: grey500;
  cursor: default;
}

.button-outlined {
  border: 1.5px solid grey900;
  padding: 10.5px 22.5px;
  background-color: transparent;
  color: grey900;
}

.button-outlined:hover {
  background-color: grey900;
  color: grey0;
}

.button-text {
  border-radius: 0;
  padding: 0;
  width: initial;
  height: initial;
  background-color: transparent;
  text-align: left;
  color: primaryMain;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}
