@value colors: "../../components/colors.module.css";
@value primaryMain, grey0, grey50, grey100, grey200, grey300, grey400, grey500, grey600, grey700, grey800, grey900 from colors;

.servicesSection {
  /* border-bottom: 1px dashed primaryMain; */
}

.servicesSection div > p {
  margin: 24px 0;
}

.servicesSection ul {
  margin: 0;
  padding-left: 16px;
}

/* @media (max-width: 1024px) {
  .servicesSection h1 {
    text-align: center;
  }
} */
