@value colors: "../../components/colors.module.css";
@value primaryMain, grey0, grey50, grey100, grey200, grey300, grey400, grey500, grey600, grey700, grey800, grey900 from colors;

.servicesSection {
  padding: 0 40px;
  background-color: grey50;
}

.servicesSection div > p:nth-child(1) {
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;
  padding: 4px 12px;
  background-color: primaryMain;
  line-height: 16px;
}

.servicesSection div > p {
  margin: 24px 0;
}

.servicesSection ul {
  margin: 0;
  padding-left: 16px;
}

.servicesSection button {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .servicesSection {
    padding: 20px 24px;
  }

  .servicesSection p {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
