.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.direction-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.container div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 80px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.direction-reverse div:nth-child(2) {
  margin-right: 80px;
  margin-left: 0;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 40px 0;
  }

  .container div:nth-child(2) {
    margin: 0;
    margin-top: 40px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
}
