@value colors: "../colors.module.css";
@value primaryMain, grey0, grey500, grey800, grey900 from colors;

body,
a {
  color: grey900;
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.variant-h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.variant-h2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.variant-body1 {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.variant-body2 {
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.variant-body3 {
  font-family: "Mulish", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

.weight-bold {
  font-weight: 700;
}

.color-primaryMain {
  color: primaryMain;
}

.color-grey0 {
  color: grey0;
}

.color-grey500 {
  color: grey500;
}

.color-grey800 {
  color: grey800;
}

.color-grey900 {
  color: grey900;
}
