@value colors: "../colors.module.css";
@value primaryMain, grey0, grey50, grey100, grey200, grey300, grey400, grey500, grey600, grey700, grey800, grey900 from colors;
@value navWidth: 200px;

*:focus-visible {
  border-color: transparent !important;
  border-radius: 8px;
  outline: 1.5px solid primaryMain;
  outline-offset: -1px;
}

body {
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  z-index: 4;
  top: 48px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: grey900;
}

.wrapper {
  width: calc(100% + navWidth - 48px);
  min-width: calc(1024px + navWidth - 48px);
  background-color: grey200;
  transition: margin 0.4s;
}

.closed {
  margin-left: calc(0px - navWidth + 48px);
}

.wrapper nav {
  position: fixed;
  z-index: 3;
  width: navWidth;
  height: 100%;
  background-color: grey900;
}

.wrapper nav > div {
  display: flex;
  justify-content: flex-end;
  margin: 12px;
}

.arrow {
  border: 0;
  border-radius: 12px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: grey0;
  transition: transform 0.2s;
  cursor: pointer;
}

.open .arrow {
  transform: rotate(180deg);
}

.arrow svg {
  margin: 4px;
  transform: translateX(1px);
  font-size: 16px;
  color: grey900;
}

.label {
  text-align: right;
  margin: 12px 10px;
  border-top: 1px solid grey800;
  padding-top: 12px;
  font-size: 9px;
  line-height: 15px;
  color: grey500;
}

.wrapper a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2px;
  padding-left: 16px;
  color: grey500;
  cursor: pointer;
}

.wrapper a:focus-visible {
  outline-offset: -1.5px;
}

.wrapper .active {
  background-color: grey800;
  color: grey0;
}

.wrapper .active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 2px;
  height: 100%;
  background-color: grey0;
}

.wrapper a div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -2px;
  width: 48px;
  height: 48px;
}

.tooltip {
  position: absolute;
  left: calc(100% + 24px);
  display: none;
  border: 1px solid grey300;
  padding: 4px 12px;
  background-color: grey50;
  line-height: 16px;
  color: grey900;
  pointer-events: none;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid grey300;
  border-left: 1px solid grey300;
  width: 12px;
  height: 12px;
  transform: translate(calc(-50% - 0.75px), -50%) rotate(45deg);
  background-color: grey50;
}

.closed a:hover .tooltip,
.closed a:focus-visible .tooltip {
  display: initial;
}

.container {
  margin-left: navWidth;
}

.container::before {
  content: "";
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s 0.4s;
}

.open .container::before {
  opacity: 0.2;
  visibility: visible;
  transition: opacity 0.4s;
}

.container main {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}
