@value colors: "../../components/colors.module.css";
@value primaryMain, grey0, grey900 from colors;

.aboutSection > div:nth-child(1) {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.aboutSection > div:nth-child(1) p:nth-child(1) {
  display: inline-block;
  padding: 4px 12px;
  background-color: primaryMain;
  line-height: 16px;
}

.aboutSection > div:nth-child(1) > div {
  margin-left: 24px;
}

.aboutSection > div:nth-child(1) > div p {
  margin-top: 8px;
}

.aboutSection b {
  font-weight: 800;
  color: grey900;
}

.aboutSection > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  padding-top: calc(4px / 2);
  padding-bottom: calc(4px / 2 + 4px);
}

.aboutSection a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 24px;
  width: calc((100% - 48px) / 4);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: grey0;
  transform: scale(0.99);
  transform-style: preserve-3d;
  transition: transform 0.4s;
  cursor: pointer;
}

.aboutSection a:nth-child(1) {
  background-image: url(../../images/2.1-600w.png);
  background-position: -11px;
}

.aboutSection a:nth-child(2) {
  background-image: url(../../images/2.2-600w.png);
  background-position: 0;
}

.aboutSection a:nth-child(3) {
  background-image: url(../../images/2.3-600w.png);
  background-position: 0;
}

.aboutSection a:nth-child(4) {
  background-image: url(../../images/2.4-600w.png);
  background-position: -11px;
}

.aboutSection a:focus-visible {
  outline-offset: 4px;
  outline-width: 2px;
  overflow: hidden;
}

.aboutSection a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.aboutSection > div:nth-child(2) .active {
  transform: scale(1.01);
}

.aboutSection > div:nth-child(2) .active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: primaryMain;
  transform-origin: left;
  transform-style: preserve-3d;
  animation: counter 10s linear forwards;
}

@keyframes counter {
  0% {
    transform: scaleX(0) translateZ(-1px);
  }
  100% {
    transform: scaleX(1) translateZ(-1px);
  }
}

.aboutSection a > svg {
  padding: 8px;
  background-color: primaryMain;
}

.aboutSection a > div {
  position: relative;
}

.aboutSection > div:nth-child(2) h2 {
  width: 0;
}

.aboutSection a > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .aboutSection > div:nth-child(2) {
    flex-wrap: wrap;
    margin-top: calc(38px - 24px);
  }

  .aboutSection a {
    margin-top: 24px;
    width: calc((100% - 24px) / 2);
    height: 436px;
  }

  .aboutSection a:nth-child(1),
  .aboutSection a:nth-child(4) {
    background-position: 0;
  }
}

@media (max-width: 952px) {
  .aboutSection a {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .aboutSection > div:nth-child(1) {
    padding: 0 16px;
  }

  .aboutSection > div:nth-child(1) > div h2 {
    font-size: 1.25rem;
  }

  .aboutSection > div:nth-child(1) > div p {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  .aboutSection a {
    margin-top: 16px;
    padding: 24px 16px;
    width: calc((100% - 16px) / 2);
    height: 328px;
  }

  .aboutSection > div:nth-child(2) h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 425px) {
  .aboutSection a {
    height: 281px;
  }
}
