@value colors: "../../components/colors.module.css";
@value primaryMain, grey0, grey50, grey100, grey200, grey300, grey400, grey500, grey600, grey700, grey800, grey900 from colors;

/* .startSection {
} */

.startSection header {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
}

/* .startSection header div {
  display: flex;
  align-items: center;
  margin-right: -8px;
}

.startSection header a {
  margin-left: 16px;
  padding: 8px;
  height: 24px;
  outline-offset: 2px;
}

.startSection header p {
  line-height: 24px;
} */

/* .startSection > div {
  padding-bottom: 40px;
}

.startSection > div p:nth-child(1) {
  margin-bottom: 16px;
}

.startSection > div p:nth-child(3) {
  margin: 24px 0 32px 0;
}

.startSection > div button:nth-child(5) {
  margin-left: 16px;
}

.startSection img {
  transform: translateX(-80px);
} */

.test {
  position: relative;
  background-image: url(../../components/1.jpeg);
  background-position: -1px -4px;
  background-repeat: no-repeat;
  background-size: 1200px;
}

.test::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 75%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.test > div {
  position: relative;
  max-width: 100%;
  height: calc(1200px / 16 * 9 - 4px - 2px);
  background-image: url(../../components/2.jpeg);
  background-size: 1200px;
}

.test > div > div:nth-child(1) {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 40px;
  width: 800px; /* zmienić */
}

.test span {
  position: absolute;
  color: primaryMain;
  transition: transform 0.4s;
}

.test span::before {
  content: "fachowe wykonanie";
  position: absolute;
  margin-top: 16px;
  padding: 0 16px 8px 16px;
  background-color: grey0;
  transition: opacity 0.1s;
}

.test span::after {
  content: "niskie koszty eksploatacji";
  position: absolute;
  top: 24px;
  margin-top: 16px;
  padding: 0 16px 8px 16px;
  background-color: grey0;
  opacity: 0;
  transition: opacity 0.1s;
}

.test .active {
  transform: translateY(-24px);
}

.test .active::before {
  opacity: 0;
}

.test .active::after {
  opacity: 1;
}

.test > div > div:nth-child(2) {
  position: absolute;
  z-index: 1;
  right: 0;
  border-right: 1px solid primaryMain;
  width: 0;
  height: 100%;
  cursor: ew-resize;
  user-select: none;
}

.test button {
  position: absolute;
  top: 50%;
  right: 0;
  border: 0;
  border-radius: 12px;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: grey0;
  transform: translate(50%, -50%);
  cursor: inherit;
}

.test button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  box-sizing: border-box;
  border: 1.5px solid grey0;
  border-radius: 12px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: test 1s ease-in-out infinite alternate-reverse;
}

@keyframes test {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
