@value colors: "../../components/colors.module.css";
@value primaryMain, grey0, grey50, grey100, grey200, grey300, grey400, grey500, grey600, grey700, grey800, grey900 from colors;

.startSection {
  /* margin: 0 -16px;
  padding: 0 16px; */
  padding-top: 48px;
  /* overflow: hidden; */
}

.container {
  position: relative;
  background-image: url(../../images/1.1-2160w.png);
  background-size: 1200px;
}

.container::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 75%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container > div {
  position: relative;
  max-width: 100%;
  height: calc(1200px / 16 * 9);
  background-image: url(../../images/1.2-2160w.png);
  background-size: 1200px;
}

/* .transition {
  transition: width 2s;
} */

.container svg {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 40px;
}

.container > div > div:nth-child(2) {
  position: absolute;
  z-index: 2;
  bottom: calc(72px + 40px);
  left: 40px;
}

.container span {
  position: absolute;
  color: primaryMain;
  transition: transform 0.4s;
}

.active span {
  transform: translateY(-24px);
}

.container span::before {
  content: "fachowe wykonanie";
  position: absolute;
  margin-top: 16px;
  padding: 0 16px 8px 16px;
  background-color: grey0;
  transition: opacity 0.1s;
}

.active span::before {
  opacity: 0;
}

.container span::after {
  content: "niskie koszty eksploatacji";
  position: absolute;
  top: 24px;
  margin-top: 16px;
  padding: 0 16px 8px 16px;
  background-color: grey0;
  opacity: 0;
  transition: opacity 0.1s;
}

.active span::after {
  opacity: 1;
}

.container > div > div:nth-child(3) {
  position: absolute;
  z-index: 1;
  right: 0;
  border-right: 1px solid primaryMain;
  width: 0;
  height: 100%;
  cursor: ew-resize;
  user-select: none;
}

.container > div > div:nth-child(3) button {
  position: absolute;
  top: 50%;
  right: 0;
  border: 0;
  border-radius: 12px;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: grey0;
  transform: translate(50%, -50%);
  cursor: inherit;
}

.container > div > div:nth-child(3) button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  box-sizing: border-box;
  border: 1.5px solid grey0;
  border-radius: 12px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: pulse 1s ease-in-out infinite alternate-reverse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@media (max-width: 1024px) {
  .container {
    background-size: calc(1024px - 48px - 40px * 2);
  }

  .container > div {
    height: calc((1024px - 48px - 40px * 2) / 16 * 9);
    background-size: calc(1024px - 48px - 40px * 2);
  }
}

@media (max-width: 768px) {
  .startSection {
    display: none;
    min-width: 672px;
  }
}
